{{ define "main" }}
<section class="section">
    <article>
        <div class="columns is-centered">
            <div class="column max-800px">
                <h1 class="title is-1">{{ .Title }}</h1>
                <div class="title subtitle heading is-6">
                    <div class="columns is-vcentered is-mobile">
                        <div class="column">
                            <p><time> {{.Date.Day}} {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }} {{ .Date.Year }} </time>
                        </div>
                    </div>
                </div>
                <!-- Start Hero Carousel -->
                <div class="carousel">
                    {{ range .Params.images }}
                    <div class="item">
                        <img src="{{ . }}">
                    </div>
                    {{ end }}
                </div>
                <!-- End Hero Carousel -->

                <div class="content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </article>
</section>

<script>
 // Initialize all elements with carousel class.
 const carousels = bulmaCarousel.attach('.carousel');
</script>
{{ end }}
