<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
        {{ range .Site.Menus.social }}
        <a href="{{ .URL }}" class=""><span
                class="icon">{{ .Pre }}</span></a>
        {{ end }}
        </div>
    </div>
</footer>

