<head itemscope itemtype="{{ .Site.BaseURL }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ if not (in (string .Site.BaseURL) "localhost") }}
    {{ end }}

    <!-- SEO -->
    <title itemprop="name">{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta property="og:site_name" content="{{ .Site.Params.sitename }}" />
    <meta name="description" content="{{ .Summary }}" />
    <meta itemprop="description" content="{{ .Summary }}" />
    <meta property="og:description" content="{{ .Summary }}" />
    <meta name="twitter:description" content="{{ .Summary }}" />
    <base href="{{ .Permalink }}">
    <link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
    <meta name="url" content="{{ .Permalink }}" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:locale" content="{{ .Site.LanguageCode }}">
    <meta name="language" content="{{ .Site.LanguageCode }}">
    {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
    {{ end }}
    <meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" />

    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}
    <!-- To make sure this renders only in the article page, we check the section -->
    {{ if eq .Section "Notizie" }}

    <!-- Pagination meta tags for list pages only -->
    {{ $paginator := .Paginate (where .Pages "Section" "Notizie") }}
    {{ if $paginator }}
    <link rel="first" href="{{ $paginator.First.URL }}">
    <link rel="last" href="{{ $paginator.Last.URL }}">
    {{ if $paginator.HasPrev }}
    <link rel="prev" href="{{ $paginator.Prev.URL }}">
    {{end }}
    {{ if $paginator.HasNext }}
    <link rel="next" href="{{ $paginator.Next.URL }}">
    {{end }}
    {{end }}

    <meta property="og:type" content="article" />
    <meta property="article:publisher" content="{{ .Site.Params.facebook }}" />
    <meta property="og:article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
    <meta property="article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />

    {{ with.Params.author }}
    <meta property="og:article:author" content="{{humanize . }}" />
    <meta property="article:author" content="{{humanize . }}" />
    <meta name="author" content="{{humanize . }}" />
    {{ end }}

    {{ with.Params.category }}
    <meta name="news_keywords" content="{{ index . 0 }}" />
    <meta property="article:section" content="{{ index . 0 }}" />
    {{ end }}

    <script defer type="application/ld+json">
     {
         "@context": "http://schema.org",
         "@type": "Article",
         "headline": {{ .Title }},
         "author": {
             "@type": "Person",
             "name": "{{ .Site.Params.facebook }}"
         },
         "datePublished": "{{ .Date.Format "2006-01-02" }}",
         "description": {{ .Description }},
         "wordCount": {{ .WordCount }},
         "mainEntityOfPage": "True",
         "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
         "image": {
             "@type": "imageObject",
             "url": "{{ with .Params.image }}{{ .Permalink }}{{ end }}"
         },
         "publisher": {
             "@type": "Organization",
             "name": "{{ .Site.Title }}",
             "logo": {
                 "@type": "imageObject",
                 "url": "https://www.lumeaut.ml/images/favicon.png"
             }
         }
     }
    </script>
    {{ end }}
    <link rel="shortcut icon" href="/favicon.ico" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
    <meta name="msapplication-TileColor" content="#ff0000">
    <meta name="theme-color" content="#ffffff">

    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />

    <meta name="twitter:site" content="{{ .Site.Params.twitter }}">
    <meta name="twitter:creator" content="{{ .Site.Params.twitter }}" />
    <meta property="fb:app_id" content="538089519640705" />
    <meta property="fb:admins" content="100000686899395" />

    <meta name="keywords" content="" />
    <meta name="imagemode" content="force" />
    <meta name="coverage" content="Worldwide" />
    <meta name="distribution" content="Global" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-title" content="{{ .Site.Params.sitename }}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-touch-fullscreen" content="yes" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script> window.jQuery || document.write('<script src="js/jquery-3.5.1.min.js">\x3C/script>')</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" onerror="this.onerror=null;this.href='css/bulma.min.css';">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css" onerror="this.onerror=null;this.href='css/bulma-carousel.min.css';">
    <link rel="stylesheet" href="/css/fontello.css">
    <link rel="stylesheet" href="/css/fira.css">
    <link rel="stylesheet" href="/css/charter.css">
    <link rel="stylesheet" href="/css/longhaul.css">
    <link rel="stylesheet" href="/css/cooperhewitt.css">
    <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
    <script src='/fullcalendar-scheduler/lib/main.js'></script>
    <script src='/fullcalendar-scheduler/lib/locales/it.js'></script>
    <script src='/js/ical.min.js'></script>
    <link href='/fullcalendar/lib/main-custom.css' rel='stylesheet'/>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <script>
     $.get('https://cors-anywhere-private.herokuapp.com/https://cloud.disroot.org/remote.php/dav/public-calendars/9epkJLq4prNF7Fjy?export')
      .then(function(data) {
          var jcalData = ICAL.parse(data.trim());
          var comp = new ICAL.Component(jcalData);
          var eventComps = comp.getAllSubcomponents("vevent");
          // map them to FullCalendar events
          var events = $.map(eventComps, function (item) {

              if (item.getFirstPropertyValue("class") == "PRIVATE") {
                  return null;
              }
              else {
                  var toreturn = {
                      "title": item.getFirstPropertyValue("summary"),
                      "location": item.getFirstPropertyValue("location"),
                  };
                  var rrule=item.getFirstPropertyValue("rrule");
                  if(rrule!= null){ //event recurs
                      toreturn.rrule={};
                      if(rrule.freq) toreturn.rrule.freq=rrule.freq;
                      if(rrule.parts.BYDAY) toreturn.rrule.byweekday=rrule.parts.BYDAY;
                      if(rrule.until) toreturn.rrule.until=rrule.until.toString();
                      if(rrule.until) toreturn.rrule.until=rrule.until.toString();
                      if(rrule.interval) toreturn.rrule.interval=rrule.interval;
                      var dtstart=item.getFirstPropertyValue("dtstart").toString();
                      var dtend=item.getFirstPropertyValue("dtend").toString();
                      toreturn.rrule.dtstart=dtstart;
                      //count duration ms
                      var startdate=new Date(dtstart);
                      var enddate=new Date(dtend);
                      toreturn.duration = enddate - startdate;
                  }else{
                      toreturn.start=item.getFirstPropertyValue("dtstart").toString();
                      toreturn.end=item.getFirstPropertyValue("dtend").toString();
                  }
                  return toreturn;
              }
          });
          var calendarEl = document.getElementById('calendar');
          var calendar = new FullCalendar.Calendar(calendarEl, {
              schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
              displayEventEnd: true,
              initialView:  $(window).width() < 800 ? 'listWeek' : 'dayGridMonth',
              locale: 'it',
              events: events,
              dayMinWidth: 100,
          });
          calendar.render();
      });
    </script>
</head>
