<header>
    <nav class="navbar is-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-brand" >
                <a href="/" title="home" class="navbar-item">
                    <img class= logoPic src="/pictures/LumeLogo.png">
                    <span class="logo"><h1>{{ .Site.Title }}</h1></span>
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    {{ range .Site.Menus.main }}
                    <a href="{{ .URL }}" class="navbar-item">{{ .Name }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </nav>
    <script>
        $(document).ready(function () {
            $(".navbar-burger").click(function () {
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");
            })
        })
    </script>
</header>
