<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}"  class="has-navbar-fixed-top">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main>
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
