{{ define "main" }}
<div class="hero is-dark is-medium" {{ with .Params.heroimage }}
     style="background: url({{ . }}) center bottom; background-size:cover;" {{ end }}>
    <div class="hero-body">
        <div class="container max-800px">
            <h1 class="title is-1 has-background-black narrow-background is-size-2-mobile has-text-left is-uppercase">
            </h1>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <p>Laboratorio Universitario Metropolitano <br>Viale Vittorio Veneto 24 <br>Milano, Italia</p>
            </div>
            <div class="column">
                <div class="map-responsive">
                    <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=9.199137389659883%2C45.47639791062476%2C9.200102984905245%2C45.478079296649504&amp;layer=mapnik&amp;marker=45.477238609908426%2C9.199620187282562" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=45.47724&amp;mlon=9.19962#map=19/45.47724/9.19962">View Larger Map</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
