{{ define "main" }}
<div class="hero is-dark is-fullheight-with-navbar" {{ with .Params.heroimage }}
     style="background: url({{ . }}) center top; background-size:cover;" {{ end }}>
</div>
<div class="section">
    <div class="container max-800px">
        <div class="content">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}
