{{ $permalink := .Permalink }}
<div class="card">
    <div id="{{ $permalink }}" class="card-image carousel">
        {{ range .Params.images }}
        <figure class="image is-square item">
            <a href="{{ $permalink }}"><img src="{{.}}" alt=""></a>
        </figure>
        {{ end }}
    </div>
    <div class="card-content">
        <a class="title is-4" href="{{ .Permalink }}">{{ .Title }}</a>
        <span class="heading">{{ .Site.Params.Author }} | <time>{{ .PublishDate.Format "January 2, 2006"}}</time></span>
        <div class="content">
            {{ .Summary }}
        </div>
    </div>
</div>
