@font-face {
    font-family: 'Charter';
    src: url('../font/charter_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}



@font-face {
    font-family: 'Charter';
    src: url('../font/charter_bold_italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}



@font-face {
    font-family: 'Charter';
    src: url('../font/charter_italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}



@font-face {
    font-family: 'Charter';
    src: url('../font/charter_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
