@font-face {
    font-family: 'CooperHewitt';
    src: url('../font/cooperhewitt-bolditalic-webfont.woff') format('woff'),
         url('../font/cooperhewitt-bolditalic-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'CooperHewitt';
    src: url('../font/cooperhewitt-bold-webfont.woff') format('woff'),
         url('../font/cooperhewitt-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CooperHewitt';
    src: url('../font/cooperhewitt-mediumitalic-webfont.woff') format('woff'),
         url('../font/cooperhewitt-mediumitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CooperHewitt';
    src: url('../font/cooperhewitt-medium-webfont.woff') format('woff'),
         url('../font/cooperhewitt-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
