@font-face {
    font-family: 'FiraSans';
    src: url('../font/FiraSans-Bold.woff2') format('woff2'),
         url('../font/FiraSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'FiraSans';
    src: url('../font/FiraSans-BoldItalic.woff2') format('woff2'),
         url('../font/FiraSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'FiraSans';
    src: url('../font/FiraSans-Italic.woff2') format('woff2'),
         url('../font/FiraSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../font/FiraSans-Regular.woff2') format('woff2'),
         url('../font/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
