@font-face {
    font-family: 'Longhaul';
    src: url('../font/longhaul-webfont.woff') format('woff');
         url('../font/longhaul-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
