.logo h1{
    font-family: Longhaul, sans-serif;
    font-size: 1.3em;
    color: black;
    padding-top: 0.2em;
    letter-spacing: 0.2em;

}

.logo {
    padding-left: 8px;
}

.navbar-burger{
    color: black;
}

.navbar-item{
    color: black;
}


.navbar-menu{
    font-family: CooperHewitt , sans-serif;
}

body {
    font-family: Charter, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 2rem;
}

.icon {
    color: black;
}

main {
    flex: 1 1 auto;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem ;
    display: block;
    z-index: 1;
    background: white;
}

.max-800px {
    max-width: 800px;
}


.author-image {
    object-fit: cover;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.title-image {
    padding-bottom: 2em;
}

.narrow-background {
    display: table;
    padding: 0.1em;
}
.hero-body{
    padding-bottom: 7rem;
    font-family: CooperHewitt, sans-serif;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.fc-header-toolbar fc-toolbar{
    width: 5rem;
}

.fc-toolbar-title {
    font-family: CooperHewitt, sans-serif;
    font-size: small;
}

a {
  color: black;
}

table{
    font-family: CooperHewitt, sans-serif;
    color: black;
}

.carousel{
    overflow: hidden;
}
